body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: white;
    padding: 1em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggle {
    display: none;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
}

.main-nav a {
    text-decoration: none;
    color: white;
}
