{% extends 'base.html' %}

{% load static %}

<!-- Set the title for the About Us page, overriding the base template -->
{% block title %}
    About Us
{% endblock %}

{% block extra_css %}
    <!-- Link the custom CSS file for the about page -->
    <link rel="stylesheet" href="{% static 'aboutpage.css' %}">
{% endblock %}

{% block body_style %}
    style="background-image: url('{% static 'about.jpg' %}');""
{% endblock %}

{% block content %}
    <!-- Content specific to the About Us page -->

    <!-- Heading for the About Us section -->
    <h1>ABout Us</h1>

    <!-- Section for team members and their comments -->
    <div class="team-section">
        <!-- First Team Member -->
        <div class="team-member">
            <img src="{% static 'person1.jpg' %}" alt="Person 1">
            <p>Armaan Sait</p>
            <div class="comment">
                <p>"Loyalty is a two-way street. If I’m asking for it from you, you get it from me.”</p>
            </div>
        </div>

        <!-- Second Team Member -->
        <div class="team-member">
            <img src="{% static 'person2.jpeg' %}" alt="Person 2">
            <p> Rithwik Katuri </p>
            <div class="comment">
                <p>I've turned curiosity into a full-time job...laughter is just a side hustle!</p>
            </div>
        </div>

        <!-- Third Team Member -->
        <div class="team-member">
            <img src="{% static 'person3.jpg' %}" alt="Person 3">
            <p>Sai Kumar Reddy Manne</p>
            <div class="comment">
                <p> I'm made of wax, Larry. What are you made of? </p>
            </div>
        </div>
    </div>

{% endblock %}
