{% extends 'base.html' %}

{% load static %}

<!-- Set the title for the About Us page, overriding the base template -->
{% block title %}
    About Us
{% endblock %}

{% block extra_css %}
    <!-- Link the custom CSS file for the about page -->
    <link rel="stylesheet" href="{% static 'aboutpage.css' %}">
{% endblock %}

{% block body_style %}
    style="background-image: url('{% static 'about.jpg' %}');""
{% endblock %}

{% block content %}
    <!-- Content specific to the About Us page -->

    <!-- Heading for the About Us section -->
    <h1>Who are we...</h1>

    <!-- Paragraph providing information about the group and their interest in the project -->
    <p>Here's a brief introduction about our team and why we are interested in the project.</p>

    <!-- Section for team members and their comments -->
    <div class="team-section">
        <!-- First Team Member -->
        <div class="team-member">
            <img src="{% static 'person1.jpg' %}" alt="Person 1">
            <p>Armman Sait</p>
            <div class="comment">
                <p>"Loyalty is a two-way street. If I’m asking for it from you, you get it from me.”</p>
            </div>
        </div>

        <!-- Second Team Member -->
        <div class="team-member">
            <img src="{% static 'person2.jpeg' %}" alt="Person 2">
            <p> Rithwik Katuri </p>
            <div class="comment">
                <p>I've turned curiosity into a full-time job...laughter is just a side hustle!</p>
            </div>
        </div>

        <!-- Third Team Member -->
        <div class="team-member">
            <img src="{% static 'person3.jpg' %}" alt="Person 3">
            <p>Sai Kumar Manne</p>
            <div class="comment">
                <p>Comment from Person 3 goes here...Comment from Person 3 goes here...Comment from Person 3 goes here...Comment from Person 3 goes here...</p>
            </div>
        </div>
    </div>

    <!-- Heading for the What did we do section -->
    <h1>What did we do...</h1>

    <!-- Paragraph about the project -->
    <p>Here's a brief overview of the project and our contributions.</p>

    <!-- Section for PPT -->
    <div class="ppt-section">
        <h2>Project Presentation</h2>
        <object data="{% static 'project_presentation.pptx' %}" type="application/vnd.openxmlformats-officedocument.presentationml.presentation" width="100%" height="500">
            <p>Unable to display the presentation. You can download it <a href="{% static 'project_presentation.pptx' %}">here</a>.</p>
        </object>
    </div>

{% endblock %}
