{% extends 'base.html' %}

{% block title %}
    <!-- Set the title for the About Us page, overriding the base template -->
    About Us
{% endblock %}

{% block extra_css %}
    <!-- Link the custom CSS file for the about page -->
    <link rel="stylesheet" href="{% static 'aboutpage.css' %}">
{% endblock %}

{% block content %}
    <!-- Content specific to the About Us page -->
    
    <!-- Heading for the About Us section -->
    <h1>Who are we...</h1>
    
    <!-- Paragraph providing information about the group and their interest in the project -->
    <p>Maybe include a group photo or 3 pics with our comments on the side, why we are interested in the project.</p>

    <h1>What did we do...</h1>
    
    <p>PPT</p>
{% endblock %}