{% extends 'base.html' %}

{% load static %}

{% block title %}
    <!-- Set the title for the D3 Graph page, overriding the base template -->
    D3 Graph Page
{% endblock %}

{% block extra_css %}
    <!-- Link the custom CSS file for the data page -->
    <link rel="stylesheet" href="{% static 'datapage.css' %}">
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <!-- Display a welcome message for authenticated users -->
        <h1>Welcome, {{ user.username }}</h1><br>
    {% endif %}
    
    <!-- Additional content specific to the D3 Graph page -->
    
    <!-- Dropdown menu for selecting property names -->
    <h4>Select Property: </h4>
    <select id="propertyDropdown">
        {% for property_name in property_names %}
            <option value="{{ property_name }}">{{ property_name }}</option>
        {% endfor %}
    </select>

    <!-- Dropdown menu for selecting meter types -->
    <br><h4>Select Meter Type: </h4>
    <select id="meterDropdown">
        <!-- Meter types will be dynamically updated here -->
    </select>

    <!-- Display selected property data -->
    <div id="propertyDataDisplay">
        <!-- Data will be dynamically updated here -->
    </div>

    <!-- Heading for the graph section -->
    <h1>Graph Below</h1>
    
    <!-- Container for the D3.js graph -->
    <div id="chart-container"></div>
    
    <!-- Include the D3.js library directly in d3-graph.html for this specific page -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    
    <!-- Include the specific JavaScript file for the D3 Graph page -->
    <script src="{% static 'd3_graph.js' %}"></script>
{% endblock %}