{% extends 'base.html' %}

{% load static %}

{% block title %}
    <!-- Set the title for the Home page, overriding the base template -->
    Homepage
{% endblock %}

{% block extra_css %}
    <!-- Link the custom CSS file for the login page -->
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
{% endblock %}

{% block body_style %}
    style="background-image: url('{% static 'home.jpg' %}');""
{% endblock %}

{% block content %}
    <!-- Content specific to the Home page -->
    
    <!-- Container for the about section -->
    <div class="about-container">
        <!-- Heading for the about section -->
        <h1>MuSE</h1>
    </div>
{% endblock %}