<!-- home.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Homepage</title>
</head>

<body>
    {% if user.is_authenticated %}
        <!-- If user is logged in, show welcome message, logout button, and clickable "View Data" button -->
        <h1>Hello {{ user.username }}</h1>
        <form action="{% url 'user_actions' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="action" value="logout">Logout</button>
            <a href="{% url 'd3_graph' %}"><button type="button" name="action" value="view_data">View Data</button></a>
        </form>
    {% else %}
        <!-- If user is not logged in, show login, register, and disabled "View Data" button with tooltip -->
        <h1>Welcome to MuSE</h1>
        <form action="{% url 'user_actions' %}" method="post">
            {% csrf_token %}
            <button type="submit" name="action" value="login">Login</button>
            <button type="submit" name="action" value="register">Register</button>
            <button type="button" disabled title="Only registered users can access" name="action" value="view_data">View Data</button>
        </form>
    {% endif %}
</body>

</html>
