{% extends 'base.html' %}

{% block title %}
    <!-- Set the title for the Home page, overriding the base template -->
    Homepage
{% endblock %}

{% block content %}
    <!-- Content specific to the Home page -->
    
    <!-- Container for the about section -->
    <div class="about-container">
        <!-- Heading for the about section -->
        <h2>This is MuSE</h2><br>
    </div>
    
    <!-- Description of the MuSE project -->
    <p>MuSE is a project in the course CS5500. A website to study data about weather impact on unit consumption.</p>
{% endblock %}