{% extends 'base.html' %}

{% block title %}
    <!-- Set the title for the Login page, overriding the base template -->
    Login
{% endblock %}

{% block content %}
    <!-- Content specific to the Login page -->

    <!-- Heading for the login form -->
    <h1>Login</h1>

    <!-- Login form with method and action attributes -->
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <!-- Input field for the username -->
        <p>Username:</p>
        <input type="text" name="username" />
        <!-- Input field for the password -->
        <p>Password:</p>
        <input type="password" name="password" />
        <br>
        <!-- Submit button for the form -->
        <input type="submit" />
    </form>

    <!-- Display messages from the server, if any -->
    {% for message in messages %}
        <h5>{{ message }}</h5>
    {% endfor %}

    <!-- Link to register if the user doesn't have an account -->
    <br><p>Don't have an account? <a href="{% url 'register' %}">Register Here</a></p>
{% endblock %}